<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matthieu.minipoll">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ConnectionActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.CreateProfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PollListeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SondageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_poll.NewPollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddFriend"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_poll.NewChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChoiceOfPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".New_poll.NewSondageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_poll.NewSondageTempoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_poll.ListeAmisPourPollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_poll.NewQuizzActivity"
            android:label="@string/title_activity_new_quizz"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_poll.NewQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_poll.PopUpReponseFinaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizzActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".New_poll.PrevisualisationSondage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChoiceViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ClassementActivity" />
        <activity android:name=".Amis.ViewProfileFriendActivity"></activity>
        <activity android:name=".Amis.ListeAmisActivity"></activity>
        <activity android:name=".Amis.SuggestionActivity"></activity>
    </application>

</manifest>